@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Professional Cookbook &copy; is a great place to share your recipe ideas with others. Create a user profile and start adding your own recipe to share.</p>
