@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    651 Woodward Av<br />
    Detroit, MI 48134<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <div style="width: 100%;">
        <p>Professional Cookbook Team. See them on LinkedIn</p>
        <div style="width:320px;height:270px; float:left; padding: 10px;">
            <p><strong>Lamar McMiller:</strong>  <a href="http://www.linkedin.com/in/">Lamar's LinkedIn</a></p> <br />
            <img src="~/img/LamarMcmiller.jpg" alt="Lamar Mcmiller" width="300" height="200" />
        </div>
        <div style="width:320px;height:270px; float:left; padding: 10px;">
            <p><strong>Devin Davis:</strong> <a href="http://www.linkedin.com/in/devindavis">Devin's LinkedIn</a></p><br />
            <img src="~/img/DevinDavis.jpg" alt="Lamar Mcmiller" width="300" height="200" />
        </div>
        <div style="width:320px;height:270px; float:left; padding: 10px;">
            <p><strong>Odil Akhmedov:</strong> <a href="http://www.linkedin.com/in/odilakhmedoff/">Odil's LinkedIn</a></p><br />
            <img src="~/img/OdiljonAkhmedov.jpg" alt="Lamar Mcmiller" width="300" height="200">
        </div>
    </div>
</address>