@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Fun Recipes</h1>
    <p class="Hello and thank you for visiting Fun Recipes. Here you'll find all sorts of recipes for the home cook."></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a Account</h2>
        <p>Meet others who share your passion for cooking!</p>
        <p><a class="btn btn-default" href="http://localhost:12735/Account/Register">Register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Recipes</h2>
        <p>Have a delicious recepie you want to share? Add it to our receipe book!</p>
        <p><a class="btn btn-default" href="http://localhost:12735/Recipes/Create">Add Recipe &raquo;</a></p>
    </div>  
    <div class="col-md-4">
        <h2></h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>